/*Athour : Soja */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contain {
	padding: auto;
	margin: auto;
	width: 50%;
	border: 2px solid orangered;
}
.paragraph {
	display: flex;
	justify-content: space-between;
}
.para {
	border: 3px solid;
	padding-top: 80px;
	width: 320px;
}
.img {
	border: 3px solid;
}
img {
	width: 400px;
}
.para h1 {
	margin-bottom: 20px;
}
.para p {
	margin-bottom: 20px;
}
.word {
	border: 2px solid;
	margin-top: 35px;
	margin-bottom: 35px;
}
.seem {
	display: flex;
	/* justify-content: space-between; */
	gap: 90px;
}
.seen {
	width: 200px;
	border: 2px solid;
}
.seen h4 {
	margin-bottom: 20px;
}
.img2 {
	display: flex;
	gap: 30px;
}
.girl img {
	width: 300px;
}
.girlpara {
	width: 400px;
	border: 2px solid;
	margin-top: 45px;
}

.girlpara p {
	padding: 20px;
}
