/*Athour : Soja */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contain {
	padding: auto;
	margin: auto;
	width: 50%;
	/* border: 2px solid orangered; */
}
.paragraph {
	display: flex;
	justify-content: space-between;
}
.para {
	/* border: 3px solid; */
	padding-top: 80px;
	width: 320px;
}

img {
	width: 300px;
}
.para h1 {
	margin-bottom: 20px;
}
.para p {
	margin-bottom: 25px;
}
.word {
	/* border: 2px solid; */
	margin-top: 35px;
	margin-bottom: 35px;
}
.seem {
	display: flex;

	gap: 90px;
}
.seen {
	width: 200px;
	/* border: 2px solid; */
}
.seen h4 {
	margin-bottom: 20px;
}
.img2 {
	display: flex;
	gap: 30px;
}
.girl img {
	width: 300px;
	margin-top: 30px;
}
.girlpara {
	width: 400px;
	/* border: 2px solid; */
	margin-top: 45px;
}
.girlpara {
	padding: 20px;
}

.girlpara p {
	padding: 10px;
}

.three {
	display: flex;
	gap: 77px;
}
.three img {
	width: 200px;
}
.value {
	display: flex;
	gap: 30px;
}
.our {
	margin-top: 20px;
	margin-bottom: 30px;
}
.three p {
	line-height: 40px;
}
.three h4 {
	margin-top: 20px;
}
.three a {
	line-height: 40px;
}
